<!--<div class="banner">
  <div class="col-12">
    <div class="col-6">
      <i class="pi pi-bars iconHeader"></i>
    </div>
    <div class="col-6 btnProfile">
      <i class="pi pi-user"></i>
    </div>
  </div>
</div>
-->
<div class="banner">
    <div>
      <i class="pi pi-bars iconHeader"></i>
      <span class="titleDash">DASHBOARD</span>

      <div class="btnProfile">
        <div>
          <i class="pi pi-user" style="font-size: 2rem; padding-left: 25%;"></i>
        </div>
        <div>
          <label class="lblUserName">USUARIO-USUARIO1</label>
        </div>
      </div>
    </div>
</div>
